<% provide(:title, 'About') %>

<div class="row">
         <div class="header-section">
           <div class="col-md-6 col-md-offset-3">
             <h1>About Yinka</h1>
           </div>

           <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
             <%= image_tag 'me.jpg', title: "A photo of Yinka", class: "img-thumbnail img-circle" -%>
             <p><em>...Dedication, Passion &amp; A lot of Coffee</em></p>
           </div>
          </div>
       </div>
     </div>
   </section>

   <section>
     <div class="container">
       <div class="row">
         <div class="about-me">
           <div class="col-md-6 col-md-offset-3">
             <p><span>YINKA ASHAFA<small>(Kuala Lumpur, Malaysia)</small></span>
               is a Freelance Web Designer &amp; Developer, passionate about building the future of the web using front &amp; back end technologies such as CSS3, HTML5, JavaScript, jQuery, Ruby amongst many others.
             </p> 
             <p>
               I've always had an interest in finding out the inner workings of things. In my early years of using the internet, I had designed a website(good 'ol days of no interactivity on web pages :D) and had limited experience with HTML and CSS. I felt like something was missing. I wasn't happy with the design. </p>

               <p> I decided to research different avenues in which to apply creativity. During this period, I took up music classes and spent a good number of years doing music. For music however, once the show is over, that'<s></s> it. Nothing is left to show that you were ever even there. I wanted a living product that will provide a continuous service and so I began teaching myself some basic coding: now HTML5/CSS3. </p>

               Much to my surprise, I enjoyed it. A lot. Not only did I enjoy it, but I was good at it &mdash; an endless world of applying one's creativity. I picked up ideas quickly, relentlessly attacked problems, and reveled in the myopic flow of tinkering and problem-solving. <br>

               It began to dawn on me that if I became a coder, I could go into the tech world from the development side. </p>

               <p>Enough of about me for now... When I'm not <strong>coding</strong> or designing, I am involved in <strong>music</strong> <em>(listening or playing)</em>. I have always been torn between computing and music, I wouldn't say computing won, but I can say that I can now enjoy my two passions in life properly.</p>
             
             <p>
               Check out my <strong>BLOG</strong> where I shares links and ideas relating to web design and development.
             </p>

             <p>
               My website portfolio <em>(as seen on my Home page)</em> only shows a small sample of the websites I have developed over the years and some of my apps are saved as private repository available on <em style="text-decoration: underline;">BitBucket's</em> VCS. 
             </p>

             <p> 
              If you are not sure I have the skills to build your website , please <a href="#" title="Hire Me">Contact Me</a> if you need freelance programming services.
             </p>
           </div>
         </div>
       </div>