<div class="row">
  <div class="col-md-6">
  <h2 class="text-center">Latest From My Blog</h2>
  <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Post Title</h3>
  </div>
  <div class="panel-body">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. 
    <a href="blog-show.html" title="Read more about this post" class="btn btn-link">Read More &raquo;</a>
    </p>
    
  </div>
  <div class="panel-footer"><small>Posted by <em>Netguru Online</em> at about 3 hrs ago</small></div>
  </div>

  <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Post Title</h3>
  </div>
  <div class="panel-body">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua.
    <a href="blog-show.html" title="Read more about this post" class="btn btn-link">Read More &raquo;</a>
    </p>
  </div>
  <div class="panel-footer"><small>Posted by <em>Netguru Online</em> at about 3 hrs ago</small></div>
  </div>
  </div>





  <div class="col-md-6" id="portfolio">
    <h2 class="text-center">My Recent Works</h2>
    <div class="row">
      <div class="col-md-6">
      <%= image_tag '2.jpg', alt: "Global EduTech Trading & Consultancy", class: "img-thumbnail" -%>
      </div>

      <div class="col-md-6">
      <%= image_tag '4.jpg', alt: "Global EduTech Trading & Consultancy", class: "img-thumbnail" -%>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
      <%= image_tag '5.jpg', alt: "Global EduTech Trading & Consultancy", class: "img-thumbnail" -%>
      </div>

      <div class="col-md-6">
      <%= image_tag '6.jpg', alt: "Global EduTech Trading & Consultancy", class: "img-thumbnail" -%>
      </div>
    </div>
  </div> 
</div>