<h1>Services <small>:: What can I offer You?</small></h1>

          <div class="row">
            <div class="col-md-6 top-section">
              <h4>Front-End Web Design</h4>
            </div>

            <div class="col-md-6 top-section">
              <h4>Back-End Web Development</h4>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 top-section">
              <div class="row">
                <div class="col-md-6 col-md-offset-3">
                  <h4>Beautiful UI Designs</h4>
                </div>
              </div>
            </div>

            <div class="col-md-6 top-section">
              <div class="row">
                <div class="col-md-6 col-md-offset-3">
                  <h4>Awesome UX </h4>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 top-section">
              <h4>24/7 Support</h4>
            </div>

            <div class="col-md-6 top-section">
              <h4>Maintenance &amp; Testing</h4>
            </div>
          </div>
        </div>  
    </section>

      <section class="skillset">
        <div class="container">
          <div class="row">
            <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 section-head">
              <h1>My Skill Sets</h1>
              <%= image_tag 'divider-purple.png', alt: "Purple Divider" -%>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <h3>Front-End Technologies</h3>

              <ul>
                <li><i class="fa fa-check" aria-hidden="true"></i> HTML5</li>
                <li><i class="fa fa-check" aria-hidden="true"></i> CSS3</li>
                <li><i class="fa fa-check" aria-hidden="true"></i> JavaScript</li>
                <li><i class="fa fa-check" aria-hidden="true"></i> jQuery</li>
                <li><i class="fa fa-check" aria-hidden="true"></i> Bootstrap / Foundation</li>
                <li><i class="fa fa-check" aria-hidden="true"></i> Wordpress</li>
              </ul>
            </div>


            <div class="col-md-6">
              <h3>Back-End Technologies</h3>

              <ul>
                <li><i class="fa fa-check" aria-hidden="true"></i> Ruby / Ruby on Rails</li>
                <li><i class="fa fa-check" aria-hidden="true"></i> PHP / Laravel</li>
                <li><i class="fa fa-check" aria-hidden="true"></i> Postgres / MySql / Sqlite3 Databases</li>
                <li><i class="fa fa-check" aria-hidden="true"></i> Cloud Services &mdash; Heroku &amp; AWS</li>
                <!-- <li><i class="fa fa-check" aria-hidden="true"></i> Python / Django</li> -->
                <li><i class="fa fa-check" aria-hidden="true"></i> Git/VCS &mdash; GitHub &amp; BitBucket </li>
              </ul>
            </div>
          </div>