

 


<div class="container">
	<h2 class="text-center">Edit Comments</h2>
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<%= bootstrap_form_for ([@article, @comment]) do |f| %>
			  <%= f.text_area :content, label: "Post Comment", placeholder: "Post Comments Here...", rows: "10", class: "wysihtml5" %>
			  <%= f.submit class: "btn btn-success" %>
			  <%= link_to "Cancel", articles_path, class: "btn btn-danger" %>
			<% end -%>
		</div>
	</div>
</div>